<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <!-- <link rel="stylesheet" href="/styles/modules.css"> -->
    <title>Search Books</title>
</head>

<body>
    <header>
        <!-- Top Navigation Menu -->
        <div class="topnav">
             <a href="" class="active">Best Books!</a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <a href="/">Home</a>
                <a href="searches/new">Search the Google Books API</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myLinks");
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            }
            </script>
    </header>

    <main>
       
        <h1>Search by Title or Author</h1>
          <form action="/searches/" method="POST">
               <input type="text" name="search" id="text" placeholder="Enter title or author">
                    <div id="title">
                <label>Title<input class="title" name="radioType" type="radio" value="title">
                </label></div>
                <div id="author">
                <label>Author<input class="title" name="radioType" type="radio" value="author"></label>
                   </div>
                    <div id="btn">
                        <input type="submit" value="Search the Gooogle Books API" id="searchBtn">
                    </div>
            </form>
        
    
    <footer>
        <h1>footer</h>
    </footer>
</main>
</body>

</html>